$games-bg-color: #F2F5F5;


.games-navbar {
	background-color: $body-bg-color
}

.games-container{

	
	font-family: $body-font;
	font-weight: 400; 
	color: #000;
	background-color: #fafafa;
	// background-image: url('/images/ko_oppattern.png');
	background-attachment: fixed;
	background-size: 150%;
	#header-games {
		font-family: $headline-font;
		font-weight: 900;
		font-size: 4em;
		line-height: 1em;
		letter-spacing: 5px;
		color: $logo-color-green;

	}


}







	.text-wrapper { 
 			 
				// turn this off for old design
				margin-top: 20px;

				// turn these back on
 				// margin-top: 0px;
 				// width: 100%; 
				// background-color: #324F55;			
				// end
 				padding-top: 5px;
				padding-left: 20px; 

 				// text-align: left;
 				min-height: 240px;
 				color: #FFF;
 				.spacedog {
 					background-color: green!important;
 				}
 				div {
 					padding-left: 0px;
 				
 				}

 				.h1 {
 					font-size: 3em;
 					font-family: $headline-font;
 					font-weight: 800;
 				}

 				p {
 					font-weight: 500;
 				}

 				

 		
 	}


 	.link-wrapper {
 			// top: 0;
 			// display: inline-block;
 			p {
 				display: inline-block;
 				padding-right: 10px;
 			}
 			padding-right: 30px;
 			padding-top: 20px;
 			padding-bottom: 20px;
 			// border: 2px solid #FFF;

 			a {
 					margin-bottom: 10px;
 					color: #fff;
 					font-size: 1em;
 					font-weight: 600;


 				}
 				img {
 					margin-bottom: 5px;
 				}

 		}

 		.btn-default {
 			// background-color: $highlight-color;
 			background-color: $highlight-color-yellow-dark;
 			border: none;
 			border-radius: 5px!important;
 		}



 		.gnog {

			color: #ffffff;


 			.h1 {
 				color: #fff26c;
 			}
 			.btn-default {
 			// background-color: $highlight-color;
 			border-radius: 5px;
 			letter-spacing: 1px;
 			background-color: #ffff6b;
 			color: #292929;
 			border: none;
 		}
 		 	.btn-alt {
 			// background-color: $highlight-color;
 			border-radius: 5px;
 			background-color: #00f985;
 			color: #292929;
 			border: none;
 		}

 		}


.gnog-game {
	background-color: #3f2046;
	@media (max-width:768px) { background-image: url('/images/GNOG-promo.png') }
	@media (min-width:769px) { background-image: url('/images/GNOG-promo.png') }
	// background-image: url('/images/log2.png');
	background-size: cover;
	background-position: center;
	// max-height: 600px;
	overflow: hidden;

	
}

.tamperdrome {
	@media (max-width:768px) { background-color: #000000 }
	// @media (min-width:769px) { background-image: url('/images/tamperdrome5.gif') }
	background-color: #000;
	// background-image: url('/images/tamperdrome5.gif');
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: left;
	color: #EFEFEF;
	// max-height: 600px;
	overflow: hidden;
	p {
		padding-right: 20px;
		padding-left: 20px;
	}
	
	.btn-default {
		background-color: #EFEFEF;
		color: black;
	}

}

.spacedog {
	color: #fff;
	background-image: url('/images/spacedog-bg.png');
	background-color: #166674;
	// max-height: 600px;
	overflow: hidden;

	p {
		padding-left: 20px;
	}

		.btn-default {
		background-color: #8220F7;
		color: #FFF;
	}
}

.skippingstones {
	background-image: url('/images/skippingstones2.png');
	background-position: bottom;
	background-size: cover;
	// background-color: #fa91ac;
	// max-height: 600px;
	overflow: hidden;
	.h1 {
		color: white;
	}
	p {
		padding-left: 20px; 
		padding-right: 20px;
	}
	.btn-default {
		background-color: #8A5380;
		color: #FFF;
	}
}

.orchids {
	// background-color: #71284f;
	background-image: url('/images/orchids/orchids-bg3.png');
	background-size: cover;
	background-position: center;
	max-height: 600px;
	overflow: hidden;
.h1 {
			color: #df7e08 ;
		}
	p {
		padding-left: 20px;
		padding-right: 20px;
		color: #396f6a;

	}
	.btn-default {
		background-color: #3A7D84;
		color: #FFF;
	}
}

.gardenarium-wrapper {
	background-image: url('/images/gardenarium3.png');
	background-position: right;
	max-height: 600px;
	overflow: hidden;
	p {
			padding-left: 20px;
		padding-right: 20px;
	color: #7438af;
	}
	.btn-default {
		background-color: #7438af;
		color: #FFF;
	}
}


.ranpal {
	// background-image: url('/images/ranpal.png');
	background-size: 50% ;
	background-repeat: no-repeat;
	background-position: right;
	background-color: #E4E4E4;
	max-height: 600px;
	overflow: hidden;
	p {
		padding-left: 40px;
		padding-right: 40px;
	}
	.text-wrapper {
		color: #000;
	}
}


.facerift
{
	background-image: url('/images/facerift2.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	// background-color: #582C18;
	max-height: 600px;
	overflow: hidden;
	// color: white;
	#textvis {
		color: white;
		background-color: black;
	}	
	.h1 {
		 color: white;
	#black-text {
		color: black!important;
  		// -webkit-text-fill-color: white; /* Will override color (regardless of order) */
	}
   	// 	-webkit-text-stroke-width: 2px;
   	// 	-webkit-text-stroke-color: black;

	}
	.text-wrapper {
		background-color: white;
	}
}

.fishjn {
	// background-color: #0F071F;
	background-image: url('/images/fishjn.png');
	background-size: cover;
	overflow: hidden;
	p {
		padding-left: 40px;
	}
	.btn-default {
		background-color: #640050;
		color: #FFF;
	}
}


.kolab-banner {
	// background-color: #fafafa;
	// color: $logo-color-yellow;
	height: 100px;
	font-family: $headline-font;
	color: #000;
	
	.h1 {
		// padding-top: 15px;
		font-size: 3em;
		letter-spacing: 5px;
		color: $logo-color-orange;
		
	}
}




.btn-default {
		border-radius: 0px;
	}



