.gardenarium {
	font-family: "adelle-sans";
	color: #F500FF;
	background-color: #f2fdbe;
	font-size: 1em;
	.h1 {
		font-size: 2em;
		font-weight: 800;
	}

	a {
		color: #fff;
		text-decoration: underline;
	}
}

.garden-head {
	background-image: url('/images/gardenarium/patterngif.gif');
	background-size: 400px;

}


.garden-info {
	background-color: #AE00B0;
	color: #EFFFB1;
}

.image-gallery {
	display: inline-block;
}