// Core KO-OP Homepage Styles

$headline-font: "ff-mark-web", sans-serif;
$body-font: "ff-mark-web", sans-serif;
$header-font: "Bariol Big", sans-serif;
$header-color: black;
$primary-color: #13242B;
$secondary-color: #3B84D4;
$highlight-color: #4BD940;
$header-image: url(/images/GNOG-screenshot2bg.png);
$header-bg-color: #44675B;
$body-bg-color: #FFF;
$subsection-bg-color: #DFE8D2;
$footer-bg-color: #4120C1;
$games-highlight: #000 ;
$KOLAB-highlight: #CFE04F ;
$blog-highlight: #FBE466 ;
$company-highlight: #EB4958 ;
$explore-image-width: 200px;
$footer-text-color: #fafafa;
$line-separator: #226BA9; 
$general-text-color: #5A5A5A;
$highlight-color-yellow: #E6D93E;
$highlight-color-yellow-dark: #C4B935;
$highlight-color-orange: #ff5d30;
$highlight-color-pink: #fb27a3;
$highlight-color-green: #56DC51;
$highlight-color-blue:  #552bf8;
$highlight-color-black: #000000;
$logo-color-yellow-dark: #E6D93E;
$logo-color-yellow: #F5E645;
$logo-color-orange: #FF5D31;
$logo-color-pink: #FC27A4;
$logo-color-green: #64F65C;
$logo-color-blue: #562BF8;
$follow-bg: #FFF;
$follow-p-text: #a280ff;
$follow-h1-text: #4e4e94;


body {

	font-family: $body-font;
	font-weight: 400;
	color: $primary-color;
	background-color: $body-bg-color;
	// background-image: url('/images/ko_oppattern.png');
	background-attachment: fixed;
	

.h1 {
	font-family: $headline-font;
	font-weight: 800;
	letter-spacing: 2px;
	}

.h3 {
	font-family: $headline-font;
	font-size: 1em;
	letter-spacing: 1px;
}

}

strong {
	letter-spacing: 2px;
}

.trailerbutt {
	/* Rectangle 3: */
/* Rectangle 3: */
background: #FB28B4;
margin-bottom: 10px;
margin-right: 10px;
box-shadow: 0px 5px 0px 0px #AC0474;
border-radius: 15px;
width: 350px;
height: 70px;
/* Watch the trailer: */
font-family: $headline-font;
font-size: 30px;
color: #FFFFFF;
letter-spacing: 0px;
}
.preorderbutt {
	/* Rectangle 3: */
/* Rectangle 3: */
background: $logo-color-orange;
margin-bottom: 10px;
margin-right: 10px;
box-shadow: 0px 5px 0px 0px #cb4e2d;
border-radius: 15px;
width: 350px;
height: 70px;
/* Watch the trailer: */
font-family: $headline-font;
font-size: 30px;
color: #FFFFFF;
letter-spacing: 0px;
}

.btn:hover {
	color: white;
}


.header {
	background-image: $header-image;
	background-size: cover;
	// background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	font-family: $body-font;
	
	font-size: 1em;
	color: #fff;
	// line-height: 1.5em;

	.h1 {
		font-family: $headline-font;
		font-size: 2.5em;
		font-weight: 800;
		color: #FFF;
		line-height: 1.3em;
	}

	p {
		
		font-size: 1em;
		
		color: #fff;
		span:nth-child(1) {
			color: #6FF55C;
		}
		span:nth-child(2) {
			color: #FF623E;
		}
	}

	a {
		font-size: 1.3em;
		font-weight: 400;
		color: $logo-color-pink;
		text-decoration: underline;
	}
}

.games-btn{
	font-size: 1.4em;
	font-family: $headline-font;
	/* Rectangle 3 Copy: */
	background: #F5D544;
	box-shadow: 0px 5px 0px 0px #907A15;
	border-radius: 15px;
	width: 350px;
	height: 70px;
	font-size: 30x;
}

.downloads-btn{
	font-size: 1em;
	font-family: $headline-font;
	/* Rectangle 3 Copy: */
	background: $logo-color-orange;
	box-shadow: 0px 5px 0px 0px #b20726;
	border-radius: 15px;
	width: 350px;
	height: 70px;
	font-size: 30px;

}

.shop-btn{
	font-size: 1em;
	font-family: $headline-font;
	/* Rectangle 3 Copy: */
	background: $logo-color-green;
	box-shadow: 0px 5px 0px 0px #1b8b1e;
	border-radius: 15px;
	width: 350px;
	height: 70px;
	font-size: 30px;

}

.downloads {
	// background-color: ;
	font-size: .8em;
	a {
		color: $logo-color-pink;
	}

	.h1 {
		color: $logo-color-pink;
	}
	.h3 {
		color: #6C696B;
		font-size: 1.2em;
	}
}

.lcgo-homepage {
	font-size: 1.1em;
	margin-bottom: 0px;
	color: #FFF;
	.KO_OP {
		color: #fff;
	}
		.lcgo-lead {
			background-image: url('/images/lcgo-lead.png');
			background-size: cover;
			background-position: center;
		}

		a {
		color: #fff;
		text-decoration: underline;
	}
	p {
		font-family: $headline-font;
		line-height: 1.5em;
		color: #fff;
	}
	.lcgo-btn {
		font-family: $headline-font;
		font-size: 1em;
		width: 220px;
		margin-right: 20px;
		margin-left: 20px;
		/* Rectangle 3 Copy 3: */
		background: #003f56;
		box-shadow: 0px 5px 0px 0px #022f40;
		border-radius: 5px;
		

	}
	
	.h1 {
		font-family: $headline-font;
	}

	.sub {
		font-size: 1.35em;
		line-height: 1.4em;
		letter-spacing: 1px;
	}
}

.orchids-homepage {
	font-size: 1.1em;
	margin-bottom: 0px;
		.orchids-lead {
			background-image: url('/images/orchids-lead.png');
			background-size: cover;

			background-position: center;
						}
	color: #FFF;
	background-color: #FFF;
	a {
		color: #fff;
		text-decoration: underline;
	}
	p {
		font-family: $headline-font;
		line-height: 1.5em;
		color: #fff;
	}

	.orchids-btn {
		font-family: $headline-font;
		font-size: 1em;
		width: 220px;
		margin-right: 20px;
		margin-left: 20px;
		/* Rectangle 3 Copy 3: */
		background: #EEBF65;
		box-shadow: 0px 5px 0px 0px #907A15;
		border-radius: 5px;
		

	}
	
	.h1 {
		font-family: $headline-font;
	}

	.sub {
		font-size: 1.35em;
		line-height: 1.4em;
		letter-spacing: 1px;
	}
}

.description {
	font-family: $headline-font;
	// height: 100vh;
	// background-image: url('/images/ko_oppattern2test.png');
	// background-attachment: fixed;
	background-color: #FFF;
	background-position: center;
	background-size: 150%;
	color: #000;
	a {
		font-size: 1.2em;
		line-height: 1.8em;
		font-family: $headline-font;
		color: #fff;

		// text-decoration: underline;
	}
	// a:hover {
	// 	text-decoration: underline;
	// }
	// // a:nth-child(1) {
	// // 	color: $logo-color-pink;
	// // }
	// // a:nth-child(2) {
	// // 	color: $logo-color-orange;
	// // }
	// // a:nth-child(3) {
	// // 	color: $logo-color-yellow;
	// // }
	// // a:nth-child(4) {
	// // 	color: $logo-color-yellow;
	// // }
	p {
		font-size: 2em;
		font-weight: 800;
		// line-height: 3em;
		text-align: center;
		color: $logo-color-orange;
		span {
			color: $logo-color-pink!important;
			// text-decoration: underline;
		}

		.h1 {
		font-family: $headline-font;
		font-weight: 800;
		letter-spacing: 1px;
		font-size: 1.2em;
	}

		#highlight {
			color: $highlight-color;
			font-weight: 900;
		}

	#sub {
		font-weight: 300;
		font-size: .8em;
		.twitter-follow-button {
			
			// padding-left: 5px;
		}
	}

	}
}



.logo {
	font-family: $headline-font;
	color: #324F55;
	font-size: 1.5em;
	letter-spacing: 2px;
}

.KO_OP {
	font-family: $headline-font;
	font-weight: 800;
	color: #000;
	font-size: 1.15em;
	letter-spacing: 1px;
	span:nth-child(1) {
		color: $logo-color-pink;
	}
	span:nth-child(2) {
		color: $logo-color-orange;
	}
	span:nth-child(3) {
		color: $logo-color-pink;
	}
	span:nth-child(4) {
		color: $logo-color-orange;
	}
	span:nth-child(5) {
		color: #FFF;
	}

}

.KO_OP2 {
	font-family: $headline-font;
	font-weight: 900;
	color: #FFF;
	font-size: 1.2em;
	letter-spacing: 2px;
	span:nth-child(1) {
		color: #FFF;
	}
	span:nth-child(2) {
		color: $logo-color-yellow;
	}
	span:nth-child(3) {
		color: $logo-color-pink;
	}
	span:nth-child(4) {
		color: $logo-color-orange;
	}
	span:nth-child(5) {
		color: #FFF;
	}

}

.games-link {
	font-family: $headline-font;
	color: #FFF;
	// color: black;
	font-size: 1.2em;
	letter-spacing: 1px;
	a {
		color: $logo-color-pink;
		text-decoration: underline;
	}
}

.follow {
	background-color: $follow-bg;
	// background-image: url('/images/social-bg.png');
	background-size: cover;
	background-position: center;
	color: $follow-p-text;
	p {
		font-size: .8em;
	}

	.h1 {
		color: $follow-h1-text;
		font-family: $headline-font;
		letter-spacing: 1px;
		font-size: 1.2em;
	}
}

.follow2 {
	background-color: #e4e4e4;
	p {
		font-size: .8em;
	}

	.h1 {
		color: #2987FF;
		font-family: $headline-font;
		letter-spacing: 1px;
		font-size: 4em;
	}
	.h3 {
		font-size: 2em;
		color: #9B9B9B;
	}
	.twitter-follow-button {
		margin-left: 0px!important;
		padding-left: 0px!important;
		margin-right: 0px!important;
		padding-right: 0px!important;
	}
}

form {
    display: inline-block; //Or display: inline; 
}


.date {
	font-size: .8em;
	font-family: $headline-font;
	letter-spacing: 1px;
	color: #000000;
}


#highlight {
			color: $highlight-color;
			font-weight: 800;
}



#logo-color1 {
	color: $logo-color-yellow;
	font-weight: 800;
}

#logo-color2 {
	color: $logo-color-orange;
	font-weight: 800;
}
#logo-color3 {
	color: $logo-color-pink;
	font-weight: 800;
}
#logo-color4 {
	color: $logo-color-green;
	font-weight: 800;
}
#logo-color5 {
	color: $logo-color-blue;
	font-weight: 800;
}

.games {
	padding: 0 !important;
  	margin: 0 !important;
  	overflow: hidden !important;
}

.inline {
	display: inline-block;
	color: white;
	font-size: .6em;
	margin-top: 13px;
}


.footer3 {
	font-size: .8em;
	.h1 {
		font-size: 1.5em;
	}

background-color: #333333;
background-image: url('/images/ko_oppattern.png');
background-size: cover;
color: white;
a {
	color: white;
}
}

.logo-font {
	font-family: $headline-font;
	letter-spacing: 10px;

	span:nth-child(1) {
		color: $logo-color-yellow;
	}
	span:nth-child(2) {
		color: $logo-color-orange;
	}
	span:nth-child(3) {
		color: $logo-color-pink;
	}
	span:nth-child(4) {
		color: $logo-color-green;
	}
	span:nth-child(5) {
		color: $logo-color-blue;
	}

}


.navigation {
	// background-color: #3100B3;
	a {
		font-size: 1em;
		line-height: 2em;
		font-family: $headline-font;
		color: #fff;

		// text-decoration: underline;
	}
	a:hover {
		color: #fff;
	}
}



// .sectionbreak {
// 	width: 100%;
// 	padding-top: 2px;
// 	background-color: $highlight-color;
// 	margin-left: auto;
//     margin-right: auto;

// }

// .fb-container {
// 	left: 80px;
// }

.btn-primary {
	// background-color: $highlight-color;
	border-style: hidden;
	height: 37px;
	width: 150px;
	border-radius: 3px;
}

.btn-custom {
	height: 48px;
	border-radius: 0px;
}
