// Core KO-OP Homepage Styles

$headline-font: "ff-mark-web", sans-serif;
$body-font: "soleil", sans-serif;
$header-font: "Bariol Big", sans-serif;
$header-color: black;
$primary-color: #13242B;
$secondary-color: #3B84D4;
$highlight-color: #4BD940;
$header-image: url(/images/newsletterSection.png);
$header-bg-color: #44675B;
$body-bg-color: #1F1F1F;
$subsection-bg-color: #DFE8D2;
$footer-bg-color: #4120C1;
$games-highlight: #000 ;
$KOLAB-highlight: #CFE04F ;
$blog-highlight: #FBE466 ;
$company-highlight: #EB4958 ;
$explore-image-width: 200px;
$footer-text-color: #fafafa;
$line-separator: #226BA9; 
$general-text-color: #5A5A5A;
$highlight-color-yellow: #E6D93E;
$highlight-color-yellow-dark: #C4B935;
$highlight-color-orange: #ff5d30;
$highlight-color-pink: #fb27a3;
$highlight-color-green: #56DC51;
$highlight-color-blue:  #552bf8;
$highlight-color-black: #000000;
$logo-color-yellow-dark: #E6D93E;
$logo-color-yellow: #F5E645;
$logo-color-orange: #FF5D31;
$logo-color-pink: #FC27A4;
$logo-color-green: #64F65C;
$logo-color-blue: #562BF8;
$follow-bg: #FFF;
$follow-p-text: #a280ff;
$follow-h1-text: #4e4e94;


body {

	font-family: $body-font;
	font-weight: 300;
	color: $primary-color;
	background-color: $body-bg-color;
	background-image: url('/images/ko_oppattern.png');
	background-attachment: fixed;
	


}

.header {
	background-image: $header-image;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family: $body-font;
	font-weight: 800;
	font-size: 1em;
	color: $header-color;

	.h1 {
		font-family: $headline-font;
		font-size: 1.6em;
		font-weight: 800;
		color: #5F5F5F;
	}

	a {
		font-size: 1.3em;
		color: $logo-color-pink;
		text-decoration: underline;
	}
}

.lead {
	font-size: 1.1em;
	margin-bottom: 0px;
	background-image: url('/images/orchidstodusk6.png');
	background-size: cover;

	background-position: center;
	// background-attachment: fixed;
	color: #282828;
	background-color: #000000;
	a {
		color: #fff;
		text-decoration: underline;
	}
	p {
		font-family: $headline-font;
		line-height: 1.5em;
		color: #fff;
	}
	
	.h1 {
		font-family: $headline-font;
	}

	.sub {
		font-size: 1.35em;
		line-height: 1.4em;
		letter-spacing: 1px;
	}
}

.description {
	font-family: $body-font;
	background-image: url('/images/ko_oppattern.png');
	background-attachment: fixed;
	background-color: #222222;
	background-position: center;
	background-size: 150%;
	color: #FFF;
	a {
		font-size: 1.2em;
		line-height: 1.8em;
		font-family: $headline-font;
		color: #fff;

		// text-decoration: underline;
	}
	// a:hover {
	// 	text-decoration: underline;
	// }
	// // a:nth-child(1) {
	// // 	color: $logo-color-pink;
	// // }
	// // a:nth-child(2) {
	// // 	color: $logo-color-orange;
	// // }
	// // a:nth-child(3) {
	// // 	color: $logo-color-yellow;
	// // }
	// // a:nth-child(4) {
	// // 	color: $logo-color-yellow;
	// // }
	p {
		font-size: 1.2em;
		font-weight: 300;
		line-height: 3em;
		text-align: center;

		.h1 {
		font-family: $headline-font;
		font-weight: 800;
		letter-spacing: 1px;
		font-size: 1.2em;
	}

		#highlight {
			color: $highlight-color;
			font-weight: 900;
		}

	#sub {
		font-weight: 300;
		font-size: .8em;
		.twitter-follow-button {
			
			// padding-left: 5px;
		}
	}

	}
}



.logo {
	font-family: $headline-font;
	color: #324F55;
	font-size: 1.5em;
	letter-spacing: 2px;
}

.KO_OP {
	font-family: $headline-font;
	font-weight: 800;
	color: #FFF;
	font-size: 1.5em;
	letter-spacing: 1px;
	span:nth-child(1) {
		color: #FFF;
	}
	span:nth-child(2) {
		color: $logo-color-yellow;
	}
	span:nth-child(3) {
		color: $logo-color-pink;
	}
	span:nth-child(4) {
		color: $logo-color-orange;
	}
	span:nth-child(5) {
		color: #FFF;
	}

}

.KO_OP2 {
	font-family: $headline-font;
	font-weight: 900;
	color: #FFF;
	font-size: 1.2em;
	letter-spacing: 2px;
	span:nth-child(1) {
		color: #FFF;
	}
	span:nth-child(2) {
		color: $logo-color-yellow;
	}
	span:nth-child(3) {
		color: $logo-color-pink;
	}
	span:nth-child(4) {
		color: $logo-color-orange;
	}
	span:nth-child(5) {
		color: #FFF;
	}

}

.games-link {
	font-family: $headline-font;
	color: #FFF;
	// color: black;
	font-size: 1.2em;
	letter-spacing: 1px;
	a {
		color: $logo-color-pink;
		text-decoration: underline;
	}
}

.follow {
	background-color: $follow-bg;
	// background-image: url('/images/social-bg.png');
	background-size: cover;
	background-position: center;
	color: $follow-p-text;
	p {
		font-size: .8em;
	}

	.h1 {
		color: $follow-h1-text;
		font-family: $headline-font;
		letter-spacing: 1px;
		font-size: 1.2em;
	}
}

.follow2 {
	background-color: $body-bg-color;
	background-image: url('/images/ko_oppattern.png');
	background-size: 150%;
	background-position: center;
	background-attachment: fixed;
	color: #fff;
	p {
		font-size: .8em;
	}

	.h1 {
		color: #FFF;
		font-family: $headline-font;
		letter-spacing: 1px;
		font-size: 2em;
	}
	.twitter-follow-button {
		margin-left: 0px!important;
		padding-left: 0px!important;
		margin-right: 0px!important;
		padding-right: 0px!important;
	}
}

form {
    display: inline-block; //Or display: inline; 
}


.date {
	font-size: .8em;
	font-family: $headline-font;
	letter-spacing: 1px;
	color: #000000;
}


#highlight {
			color: $highlight-color;
			font-weight: 800;
}



#logo-color1 {
	color: $logo-color-yellow;
	font-weight: 800;
}

#logo-color2 {
	color: $logo-color-orange;
	font-weight: 800;
}
#logo-color3 {
	color: $logo-color-pink;
	font-weight: 800;
}
#logo-color4 {
	color: $logo-color-green;
	font-weight: 800;
}
#logo-color5 {
	color: $logo-color-blue;
	font-weight: 800;
}

.games {
	padding: 0 !important;
  	margin: 0 !important;
  	overflow: hidden !important;
}

.inline {
	display: inline-block;
	color: white;
	font-size: .6em;
	margin-top: 13px;
}


.footer {
	.col-sm-12 {
		padding-right: 0px;
	}
	height: 40px;
	// margin-bottom: 0px;
	// float: right;
	// left: 250px;
	background-color: $footer-bg-color;
	// position: relative;
	a {
		font-family: $headline-font;
		color: $footer-text-color;
		margin-right: 5px;
		font-size: 1.1em;
		font-weight: 800;
	}
}

.logo-font {
	font-family: $headline-font;
	letter-spacing: 10px;

	span:nth-child(1) {
		color: $logo-color-yellow;
	}
	span:nth-child(2) {
		color: $logo-color-orange;
	}
	span:nth-child(3) {
		color: $logo-color-pink;
	}
	span:nth-child(4) {
		color: $logo-color-green;
	}
	span:nth-child(5) {
		color: $logo-color-blue;
	}

}


.navigation {
	// background-color: #3100B3;
	a {
		font-size: 1em;
		line-height: 2em;
		font-family: $headline-font;
		color: #fff;

		// text-decoration: underline;
	}
	a:hover {
		color: #fff;
	}
}



// .sectionbreak {
// 	width: 100%;
// 	padding-top: 2px;
// 	background-color: $highlight-color;
// 	margin-left: auto;
//     margin-right: auto;

// }

// .fb-container {
// 	left: 80px;
// }

.btn-primary {
	// background-color: $highlight-color;
	border-style: hidden;
	height: 37px;
	width: 150px;
	border-radius: 3px;
}

.btn-custom {
	height: 48px;
	border-radius: 0px;
}
