$lab-highlight-color: #CFCFCF;
$emphasis-color: #61C6F6;


.kolab {
	font-family: $body-font;
	// font-size: .75em;
	color: #FFF;

	a {
		color: #FFF;
		font-weight: 800;
		text-decoration: underline;
	}

	.subnav {
		a {
			margin-right: 40px;
		}
	}

	.emphasis {
		font-size: 1.5em;
		font-family: $headline-font;
		color: $logo-color-yellow;
	}

	.h1 {
		font-family: $headline-font;
		font-weight: 600;
		// text-decoration: underline;
		#kolab-header {
			font-size: 5em;
		}
		.footer{
			color: $emphasis-color;
			// text-decoration: underline;
		}
	}

	#subheader {
		font-family: $headline-font;
		color: #fff;
	}

	#kolab-header {
			font-size: 4em;
			letter-spacing: 5px;
			color: $logo-color-yellow;
		}

	em {
		font-weight: 800;
	}

		// ::-webkit-input-placeholder { /* WebKit browsers */
		//     color:    #FFF;
		// }
		// :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		//    color:    #FFF;
		//    opacity:  1;
		// }
		// ::-moz-placeholder { /* Mozilla Firefox 19+ */
		//    color:    #FFF;
		//    opacity:  1;
		// }
		// :-ms-input-placeholder { /* Internet Explorer 10+ */
		//    color:    #FFF;
		// }

	.btn-primary {
		height: 36px;
	}

.textfield {
	line-height: 1.8em;
	// background-color: $emphasis-color;
	// border-style: hidden;
	// border-radius: 3px;
	}



}

.lab-sectionbreak {
	width: 100%;
	padding-top: 2px;
	background-color: $lab-highlight-color;
	margin-left: auto;
    margin-right: auto;

}

