// Mailing List Styling

//Home

.subscribe {
	
	background-color:$logo-color-orange;
	text-indent:0;
	border:0px solid #dcdcdc;
	border-radius: 15px;
	display:inline-block;
	color:#FFF !important;
	font-family: $headline-font;
	font-size:1em;
	font-weight:normal;
	font-style:normal;
	height:37px;
	letter-spacing: 1px;
	width:185px;
	text-decoration:none;
	text-align:center;
	margin-left: 0px;

}
.subscribe:hover {

	background-color:#d74939;
	text-decoration: none;
}.subscribe:active {
	position:relative;
	top:1px;
}

input[type="text"], textarea {

	font-family: $headline-font;
  background-color : #fff; 
  width: 285px;
  border-radius: 15px;
  border-width: 0px;
  border-top-color: white;
  height: 37px;
  color:  #9B9B9B;
  padding-left: 5px;


}

.subscribephone {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #100e14), color-stop(1, #100e14) );
	background:-moz-linear-gradient( center top, #100e14 5%, #100e14 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#100e14', endColorstr='#100e14');
	background-color:#100e14;
	-webkit-border-top-left-radius:26px;
	-moz-border-radius-topleft:26px;
	border-top-left-radius:26px;
	-webkit-border-top-right-radius:26px;
	-moz-border-radius-topright:26px;
	border-top-right-radius:26px;
	-webkit-border-bottom-right-radius:26px;
	-moz-border-radius-bottomright:26px;
	border-bottom-right-radius:26px;
	-webkit-border-bottom-left-radius:26px;
	-moz-border-radius-bottomleft:26px;
	border-bottom-left-radius:26px;
	text-indent:0;
	border:0px solid #dcdcdc;
	display:inline-block;
	color:#FFF;
	font-family:"Open Sans";
	font-size:24px;
	font-weight:normal;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:185px;
	text-decoration:none;
	text-align:center;
}
.subscribephone:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #030103), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #030103 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#030103', endColorstr='#000000');
	background-color:#030103;
}.subscribephone:active {
	position:relative;
	top:1px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #9B9B9B;
    letter-spacing: 2px;
    padding-left: 10px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:     #9B9B9B;
    letter-spacing: 2px;
    padding-left: 10px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:     #9B9B9B;
    letter-spacing: 2px;
    padding-left: 10px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:     #9B9B9B;
    letter-spacing: 2px;
    padding-left: 10px;
}