$bg-color-home: #fafafa;
$link-color: #fafafa;
$link-alt-color: #FFF;
$bg-color-store: #FFF;
$link-hover-color: #212121;


/*Navbar styling*/

.navbar {
	background-color: $bg-color-home;
	border-radius: 0;
	margin-bottom: 0px;
	margin-top: 0px;



}

.navbar-custom {
	font-family: "ff-mark-web";	
	font-size: .8em;
	font-weight: 800;
	border-radius: 0;

	.navbar-right {
		margin-right: -30px!important;
	}

	a {
		text-decoration: none;
		margin-right: 5px;
		// Remove this for collapsed navbar
		color: $link-color !important;

		#alt {
			color: $link-alt-color!important;
		}

	}
	a:hover {
 	color: $link-hover-color !important;

	}

	.twitter-follow-button {
		margin-top: 15px;
	}


}


@media (max-width: 979px) {
  .navbar-fixed-top.navbar-absolute {
    position: absolute;
    margin: 0;
  }
}

.navbar-absolute + div {
    margin-top: 68px;
}

.navbar-brand {
	img {
		margin-top: -5px;
		margin-left: 5px;
	}
}


#yellow {
	background-color: #f5d544;
}

#yellow:hover {
	background-color: #ddc03a;
}

#red {
	background-color: #ff5d30;
}

#red:hover {
	background-color: #DE4F27;
}

#pink {
	background-color: #fb27a3;
}

#pink:hover {
	background-color: #C91D83;
}

#green {
	background-color: #56DC51;
}

#green:hover {
	background-color: #40A33C;
}

#blue {
	background-color: #552bf8;
}

#blue:hover {
	background-color: #4621D1;
}

#black {
	background-color: #000000;
}

#black:hover {
	background-color: #505050;
}