$workshop-emphasis: #EB4958;
$workshop-link-color: #EB4958;
$workshop-hover-color: #C9293D;
$workshop-comingsoon-color: #737373;

.workshops {
	// font-size: 2em;
	color: $general-text-color;
	background-image: url('/images/workshop-bg.png');
	background-size: cover;
	background-position: right;

	#header-workshops {
		font-family: $headline-font;
		font-weight: 900;
		color: #552bf8;
		font-size: 2em;
		letter-spacing: 5px;
		line-height: 1em;

	}


	.lead-workshops {
		// background-image: url('/images/workshops-photo3.png');
		// background-color: #140726;
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center;
	}

	#workshop-sub {
		font-family: $headline-font;
	}

	.h1 {
		// font-style: italic;
		// text-decoration: underline;
		font-weight: 600;
		color: $general-text-color;
		.footer {
			color: $highlight-color;
		}
	}
	.h2 {
		font-size: 1.5em;
		text-decoration: underline;
		
	}

	.tutorial-links {
		// background-color: white;
		// background-image: url('/images/workshop-bg.png');
		// background-size: cover;
	}

	a {
		color: #552bf8;
		text-decoration: underline;

	}

	a:visited {
		color: #552bf8;
	}

	.comingsoon {
		color: $workshop-comingsoon-color;
	}

	.sectionbreak {

		background-color: #484848;

	}
	.textfield {
	line-height: 1.8em;
	// background-color: $emphasis-color;
	// border-style: hidden;
	// border-radius: 3px;
	}

	.booking {
		
		.h1 {
			font-family: $headline-font;
			color: $logo-color-orange;
		}
		a {
			// color: #FFF;
		}
	}

}

