@charset "UTF-8";
body {
  font-size: 200%;
  /* Prevent elements from flickering due to CSS Transforms */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0); }

@font-face {
  font-family: "Bariol Big";
  src: url("/type/bariol_bold-webfont.eot");
  src: local("☺"), url("/type/bariol_bold-webfont.woff") format("woff"), url("/type/bariol_bold-webfont.otf") format("opentype"), url("/type/bariol_bold-webfont.svg#bariol_boldbold") format("svg"); }
@font-face {
  font-family: "Bariol Light";
  src: url("/type/bariol_light-webfont.eot");
  src: local("☺"), url("/type/bariol_light-webfont.woff") format("woff"), url("/type/bariol_light-webfont.otf") format("opentype"), url("/type/bariol_light-webfont.svg#bariol_lightlight") format("svg"); }
/*Navbar styling*/
.navbar {
  background-color: #FFF;
  border-radius: 0; }

.navbar-custom {
  font-family: "soleil";
  font-size: 1em;
  font-weight: 500;
  border-radius: 0; }
  .navbar-custom a {
    text-decoration: none;
    margin-right: 5px;
    margin-bottom: 10px;
    color: #2B2B2B !important; }
  .navbar-custom a:hover {
    color: #8C8589 !important; }

#active {
  color: #fff !important;
  /*text-decoration: underline;*/ }

@media (max-width: 979px) {
  .navbar-fixed-top.navbar-absolute {
    position: absolute;
    margin: 0; } }
.navbar-absolute + div {
  margin-top: 68px; }

body {
  font-family: "soleil", serif;
  font-weight: 300;
  color: #3B6C80;
  background-color: #fff; }

.header {
  background-image: url(/images/mtgbackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  font-family: "brandon-grotesque", serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #3A3A3A; }
  .header .h1 {
    font-size: 2em;
    color: white; }
  .header a {
    color: #5A5A5A;
    text-decoration: underline; }

.description {
  background-color: #fff; }
  .description p {
    font-size: 1.4em;
    font-weight: 300;
    text-align: center; }
    .description p #highlight {
      color: #EB4958;
      font-weight: 800; }

#highlight {
  color: #EB4958;
  font-weight: 800; }

.games {
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden !important; }

.explore img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px; }
.explore p {
  margin-bottom: 10px; }
.explore a {
  text-decoration: none; }
.explore a:hover {
  text-decoration: underline; }

.footer {
  background-color: #FFF; }
  .footer a {
    color: #EB4958;
    font-size: .75em; }

.links a {
  padding-right: 15px; }

.sectionbreak {
  width: 100%;
  padding-top: 2px;
  background-color: #EB4958;
  margin-left: auto;
  margin-right: auto; }

.fb-container {
  left: 80px; }

.btn-primary {
  background-color: #EB4958;
  border-style: hidden;
  height: 37px;
  width: 150px;
  border-radius: 3px; }

.bottom-large-spacer {
  padding-bottom: 60px; }

.bottom-xlarge-spacer {
  padding-bottom: 120px; }

.bottom-med-spacer {
  padding-bottom: 40px; }

.bottom-small-spacer {
  padding-bottom: 20px; }

.bottom-xsmall-spacer {
  padding-bottom: 10px; }

.top-small-spacer {
  padding-top: 20px; }

.top-xsmall-spacer {
  padding-top: 10px; }

.top-med-spacer {
  padding-top: 40px; }

.top-xlarge-spacer {
  padding-top: 120px; }

.top-large-spacer {
  padding-top: 60px; }

.left-xsmall-spacer {
  padding-left: 10px; }

.left-small-spacer {
  padding-left: 20px; }

.left-med-spacer {
  padding-left: 40px; }

.left-large-spacer {
  padding-left: 60px; }

.right-xsmall-spacer {
  padding-right: 10px; }

.right-small-spacer {
  padding-right: 20px; }

.right-med-spacer {
  padding-right: 40px; }

.right-large-spacer {
  padding-right: 60px; }

.subscribe {
  background-color: #EB4958;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  text-indent: 0;
  border: 0px solid #dcdcdc;
  display: inline-block;
  color: #FFF !important;
  font-family: "Soleil";
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  height: 40px;
  line-height: 40px;
  width: 165px;
  text-decoration: none;
  text-align: center; }

.subscribe:hover {
  background-color: #B92336;
  text-decoration: none; }

.subscribe:active {
  position: relative;
  top: 1px; }

.subscribephone {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #100e14), color-stop(1, #100e14));
  background: -moz-linear-gradient(center top, #100e14 5%, #100e14 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#100e14', endColorstr='#100e14');
  background-color: #100e14;
  -webkit-border-top-left-radius: 26px;
  -moz-border-radius-topleft: 26px;
  border-top-left-radius: 26px;
  -webkit-border-top-right-radius: 26px;
  -moz-border-radius-topright: 26px;
  border-top-right-radius: 26px;
  -webkit-border-bottom-right-radius: 26px;
  -moz-border-radius-bottomright: 26px;
  border-bottom-right-radius: 26px;
  -webkit-border-bottom-left-radius: 26px;
  -moz-border-radius-bottomleft: 26px;
  border-bottom-left-radius: 26px;
  text-indent: 0;
  border: 0px solid #dcdcdc;
  display: inline-block;
  color: #FFF;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  height: 50px;
  line-height: 50px;
  width: 185px;
  text-decoration: none;
  text-align: center; }

.subscribephone:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #030103), color-stop(1, #000000));
  background: -moz-linear-gradient(center top, #030103 5%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#030103', endColorstr='#000000');
  background-color: #030103; }

.subscribephone:active {
  position: relative;
  top: 1px; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ABAFB4; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ABAFB4; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ABAFB4; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ABAFB4; }

.games-navbar {
  background-color: #F2F5F5; }

.games-container {
  font-family: "soleil", serif;
  color: #3A3A3A;
  background-color: #fff; }
  .games-container .footer {
    font-style: italic; }

.gallery .name {
  float: left;
  display: inline;
  font-weight: 800; }
.gallery .details {
  float: right;
  display: inline; }
.gallery .status {
  font-weight: 500; }

.games-footer {
  background-color: #F2F5F5; }

.image-wrapper {
  position: relative;
  width: 100%;
  text-align: left; }
  .image-wrapper .text-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-left: 30px;
    width: 100%;
    height: 170px;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.65); }
  .image-wrapper .h1 {
    font-size: 2.2em;
    font-weight: 800; }
  .image-wrapper p {
    font-weight: 500; }
  .image-wrapper a {
    margin-bottom: 10px;
    color: #fff;
    font-weight: 600; }
  .image-wrapper .link-wrapper {
    position: absolute;
    overflow: auto;
    display: inline-block;
    top: 0;
    right: 0;
    padding-right: 30px;
    padding-top: 30px; }
  .image-wrapper .btn-default {
    background-color: #3FB674;
    border: none; }

.kolab {
  font-size: .75em;
  color: #5A5A5A; }
  .kolab a {
    text-decoration: underline; }
  .kolab .subnav a {
    margin-right: 40px; }
  .kolab .emphasis {
    font-size: 1.5em;
    color: #61C6F6; }
  .kolab .h1 {
    font-style: italic;
    font-weight: 600; }
    .kolab .h1 .footer {
      color: #61C6F6; }
  .kolab em {
    font-weight: 800; }
  .kolab .btn-primary {
    height: 36px; }
  .kolab .textfield {
    line-height: 1.8em; }

.lab-sectionbreak {
  width: 100%;
  padding-top: 2px;
  background-color: #CFCFCF;
  margin-left: auto;
  margin-right: auto; }

.workshops {
  font-size: .75em;
  color: #5A5A5A; }
  .workshops .lead {
    background-image: url("/images/workshops-photo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    color: white; }
  .workshops .h1 {
    font-style: italic;
    font-weight: 600;
    color: #5A5A5A; }
    .workshops .h1 .footer {
      color: #EB4958; }
  .workshops .h2 {
    font-size: 1.5em;
    text-decoration: underline; }
  .workshops a {
    color: #EB4958; }
  .workshops a:hover {
    color: #C9293D; }
  .workshops a:visited {
    color: #C9293D; }
  .workshops .comingsoon {
    color: #737373; }
  .workshops .sectionbreak {
    background-color: #484848; }
  .workshops .textfield {
    line-height: 1.8em; }

.gardenarium {
  font-family: "adelle-sans";
  color: #F500FF;
  background-color: #f2fdbe;
  font-size: 1em; }
  .gardenarium .h1 {
    font-size: 2em;
    font-weight: 800; }
  .gardenarium a {
    color: #fff;
    text-decoration: underline; }

.garden-head {
  background-image: url("/images/gardenarium/spiral18.png");
  background-size: 200px; }

.garden-info {
  background-color: #AE00B0;
  color: #EFFFB1; }

.image-gallery {
  display: inline-block; }

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate; }

#rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear; }

#clockwise-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-animation-name: clockwise-rotate;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: clockwise-rotate;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear; }

@-webkit-keyframes clockwise-rotate {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes clockwise-rotate {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg); }
  to {
    -webkit-transform: rotate(0deg); } }
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(360deg); }
  to {
    -moz-transform: rotate(0deg); } }

/*# sourceMappingURL=main.css.map */
