body {
  font-size: 200%;
  /* Prevent elements from flickering due to CSS Transforms */ }

/*Navbar styling*/
.navbar {
  background-color: #fafafa;
  border-radius: 0;
  margin-bottom: 0px;
  margin-top: 0px; }

.navbar-custom {
  font-family: "ff-mark-web";
  font-size: .8em;
  font-weight: 800;
  border-radius: 0; }
  .navbar-custom .navbar-right {
    margin-right: -30px !important; }
  .navbar-custom a {
    text-decoration: none;
    margin-right: 5px;
    color: #fafafa !important; }
    .navbar-custom a #alt {
      color: #FFF !important; }
  .navbar-custom a:hover {
    color: #212121 !important; }
  .navbar-custom .twitter-follow-button {
    margin-top: 15px; }

@media (max-width: 979px) {
  .navbar-fixed-top.navbar-absolute {
    position: absolute;
    margin: 0; } }
.navbar-absolute + div {
  margin-top: 68px; }

.navbar-brand img {
  margin-top: -5px;
  margin-left: 5px; }

#yellow {
  background-color: #f5d544; }

#yellow:hover {
  background-color: #ddc03a; }

#red {
  background-color: #ff5d30; }

#red:hover {
  background-color: #DE4F27; }

#pink {
  background-color: #fb27a3; }

#pink:hover {
  background-color: #C91D83; }

#green {
  background-color: #56DC51; }

#green:hover {
  background-color: #40A33C; }

#blue {
  background-color: #552bf8; }

#blue:hover {
  background-color: #4621D1; }

#black {
  background-color: #000000; }

#black:hover {
  background-color: #505050; }

body {
  font-family: "soleil", sans-serif;
  font-weight: 300;
  color: #13242B;
  background-color: #1F1F1F;
  background-image: url("/images/ko_oppattern.png");
  background-attachment: fixed; }

.header {
  background-image: url(/images/newsletterSection.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "soleil", sans-serif;
  font-weight: 800;
  font-size: 1em;
  color: black; }
  .header .h1 {
    font-family: "ff-mark-web", sans-serif;
    font-size: 1.6em;
    font-weight: 800;
    color: #5F5F5F; }
  .header a {
    font-size: 1.3em;
    color: #FC27A4;
    text-decoration: underline; }

.lead {
  font-size: 1.1em;
  margin-bottom: 0px;
  background-image: url("/images/orchidstodusk6.png");
  background-size: cover;
  background-position: center;
  color: #282828;
  background-color: #000000; }
  .lead a {
    color: #fff;
    text-decoration: underline; }
  .lead p {
    font-family: "ff-mark-web", sans-serif;
    line-height: 1.5em;
    color: #fff; }
  .lead .h1 {
    font-family: "ff-mark-web", sans-serif; }
  .lead .sub {
    font-size: 1.35em;
    line-height: 1.4em;
    letter-spacing: 1px; }

.description {
  font-family: "soleil", sans-serif;
  background-image: url("/images/ko_oppattern.png");
  background-attachment: fixed;
  background-color: #222222;
  background-position: center;
  background-size: 150%;
  color: #FFF; }
  .description a {
    font-size: 1.2em;
    line-height: 1.8em;
    font-family: "ff-mark-web", sans-serif;
    color: #fff; }
  .description p {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 3em;
    text-align: center; }
    .description p .h1 {
      font-family: "ff-mark-web", sans-serif;
      font-weight: 800;
      letter-spacing: 1px;
      font-size: 1.2em; }
    .description p #highlight {
      color: #4BD940;
      font-weight: 900; }
    .description p #sub {
      font-weight: 300;
      font-size: .8em; }

.logo {
  font-family: "ff-mark-web", sans-serif;
  color: #324F55;
  font-size: 1.5em;
  letter-spacing: 2px; }

.KO_OP {
  font-family: "ff-mark-web", sans-serif;
  font-weight: 800;
  color: #FFF;
  font-size: 1.5em;
  letter-spacing: 1px; }
  .KO_OP span:nth-child(1) {
    color: #FFF; }
  .KO_OP span:nth-child(2) {
    color: #F5E645; }
  .KO_OP span:nth-child(3) {
    color: #FC27A4; }
  .KO_OP span:nth-child(4) {
    color: #FF5D31; }
  .KO_OP span:nth-child(5) {
    color: #FFF; }

.KO_OP2 {
  font-family: "ff-mark-web", sans-serif;
  font-weight: 900;
  color: #FFF;
  font-size: 1.2em;
  letter-spacing: 2px; }
  .KO_OP2 span:nth-child(1) {
    color: #FFF; }
  .KO_OP2 span:nth-child(2) {
    color: #F5E645; }
  .KO_OP2 span:nth-child(3) {
    color: #FC27A4; }
  .KO_OP2 span:nth-child(4) {
    color: #FF5D31; }
  .KO_OP2 span:nth-child(5) {
    color: #FFF; }

.games-link {
  font-family: "ff-mark-web", sans-serif;
  color: #FFF;
  font-size: 1.2em;
  letter-spacing: 1px; }
  .games-link a {
    color: #FC27A4;
    text-decoration: underline; }

.follow {
  background-color: #FFF;
  background-size: cover;
  background-position: center;
  color: #a280ff; }
  .follow p {
    font-size: .8em; }
  .follow .h1 {
    color: #4e4e94;
    font-family: "ff-mark-web", sans-serif;
    letter-spacing: 1px;
    font-size: 1.2em; }

.follow2 {
  background-color: #1F1F1F;
  background-image: url("/images/ko_oppattern.png");
  background-size: 150%;
  background-position: center;
  background-attachment: fixed;
  color: #fff; }
  .follow2 p {
    font-size: .8em; }
  .follow2 .h1 {
    color: #FFF;
    font-family: "ff-mark-web", sans-serif;
    letter-spacing: 1px;
    font-size: 2em; }
  .follow2 .twitter-follow-button {
    margin-left: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    padding-right: 0px !important; }

form {
  display: inline-block; }

.date {
  font-size: .8em;
  font-family: "ff-mark-web", sans-serif;
  letter-spacing: 1px;
  color: #000000; }

#highlight {
  color: #4BD940;
  font-weight: 800; }

#logo-color1 {
  color: #F5E645;
  font-weight: 800; }

#logo-color2 {
  color: #FF5D31;
  font-weight: 800; }

#logo-color3 {
  color: #FC27A4;
  font-weight: 800; }

#logo-color4 {
  color: #64F65C;
  font-weight: 800; }

#logo-color5 {
  color: #562BF8;
  font-weight: 800; }

.games {
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden !important; }

.inline {
  display: inline-block;
  color: white;
  font-size: .6em;
  margin-top: 13px; }

.footer {
  height: 40px;
  background-color: #4120C1; }
  .footer .col-sm-12 {
    padding-right: 0px; }
  .footer a {
    font-family: "ff-mark-web", sans-serif;
    color: #fafafa;
    margin-right: 5px;
    font-size: 1.1em;
    font-weight: 800; }

.logo-font {
  font-family: "ff-mark-web", sans-serif;
  letter-spacing: 10px; }
  .logo-font span:nth-child(1) {
    color: #F5E645; }
  .logo-font span:nth-child(2) {
    color: #FF5D31; }
  .logo-font span:nth-child(3) {
    color: #FC27A4; }
  .logo-font span:nth-child(4) {
    color: #64F65C; }
  .logo-font span:nth-child(5) {
    color: #562BF8; }

.navigation a {
  font-size: 1em;
  line-height: 2em;
  font-family: "ff-mark-web", sans-serif;
  color: #fff; }
.navigation a:hover {
  color: #fff; }

.btn-primary {
  border-style: hidden;
  height: 37px;
  width: 150px;
  border-radius: 3px; }

.btn-custom {
  height: 48px;
  border-radius: 0px; }

.bottom-large-spacer {
  padding-bottom: 60px; }

.bottom-xlarge-spacer {
  padding-bottom: 120px; }

.bottom-med-spacer {
  padding-bottom: 40px; }

.bottom-small-spacer {
  padding-bottom: 20px; }

.bottom-xsmall-spacer {
  padding-bottom: 10px; }

.top-small-spacer {
  padding-top: 20px; }

.top-xsmall-spacer {
  padding-top: 10px; }

.top-med-spacer {
  padding-top: 40px; }

.top-xlarge-spacer {
  padding-top: 120px; }

.top-large-spacer {
  padding-top: 60px; }

.left-xsmall-spacer {
  padding-left: 10px; }

.left-small-spacer {
  padding-left: 20px; }

.left-med-spacer {
  padding-left: 40px; }

.left-large-spacer {
  padding-left: 60px; }

.right-xsmall-spacer {
  padding-right: 10px; }

.right-small-spacer {
  padding-right: 20px; }

.right-med-spacer {
  padding-right: 40px; }

.right-large-spacer {
  padding-right: 60px; }

.vert-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.subscribe {
  background-color: #FC27A4;
  text-indent: 0;
  border: 0px solid #dcdcdc;
  display: inline-block;
  color: #f4d552 !important;
  font-family: "Soleil";
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  height: 37px;
  letter-spacing: 1px;
  width: 185px;
  text-decoration: none;
  text-align: center;
  margin-left: 0px; }

.subscribe:hover {
  background-color: #d74939;
  text-decoration: none; }

.subscribe:active {
  position: relative;
  top: 1px; }

input[type="text"], textarea {
  background-color: #FFF;
  width: 185px;
  border: 0px;
  height: 37px;
  color: #949494;
  padding-left: 5px; }

.subscribephone {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #100e14), color-stop(1, #100e14));
  background: -moz-linear-gradient(center top, #100e14 5%, #100e14 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#100e14', endColorstr='#100e14');
  background-color: #100e14;
  -webkit-border-top-left-radius: 26px;
  -moz-border-radius-topleft: 26px;
  border-top-left-radius: 26px;
  -webkit-border-top-right-radius: 26px;
  -moz-border-radius-topright: 26px;
  border-top-right-radius: 26px;
  -webkit-border-bottom-right-radius: 26px;
  -moz-border-radius-bottomright: 26px;
  border-bottom-right-radius: 26px;
  -webkit-border-bottom-left-radius: 26px;
  -moz-border-radius-bottomleft: 26px;
  border-bottom-left-radius: 26px;
  text-indent: 0;
  border: 0px solid #dcdcdc;
  display: inline-block;
  color: #FFF;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  height: 50px;
  line-height: 50px;
  width: 185px;
  text-decoration: none;
  text-align: center; }

.subscribephone:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #030103), color-stop(1, #000000));
  background: -moz-linear-gradient(center top, #030103 5%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#030103', endColorstr='#000000');
  background-color: #030103; }

.subscribephone:active {
  position: relative;
  top: 1px; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #949494;
  letter-spacing: 2px;
  padding-left: 10px; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #949494;
  letter-spacing: 2px;
  padding-left: 10px; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #949494;
  letter-spacing: 2px;
  padding-left: 10px; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #949494;
  letter-spacing: 2px;
  padding-left: 10px; }

.games-navbar {
  background-color: #1F1F1F; }

.games-container {
  font-family: "soleil", sans-serif;
  font-weight: 800;
  color: #FFF;
  background-color: #fafafa;
  background-image: url("/images/ko_oppattern.png");
  background-attachment: fixed;
  background-size: 150%; }
  .games-container #header-games {
    font-family: "ff-mark-web", sans-serif;
    font-size: 4em;
    letter-spacing: 5px;
    color: #64F65C; }

.text-wrapper {
  margin-top: 20px;
  padding-top: 5px;
  padding-left: 20px;
  text-align: left;
  min-height: 240px;
  color: #FFF; }
  .text-wrapper .spacedog {
    background-color: green !important; }
  .text-wrapper div {
    padding-left: 0px; }
  .text-wrapper .h1 {
    font-size: 3em;
    font-family: "ff-mark-web", sans-serif;
    font-weight: 800; }
  .text-wrapper p {
    font-weight: 500; }

.link-wrapper {
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .link-wrapper p {
    display: inline-block;
    padding-right: 10px; }
  .link-wrapper a {
    margin-bottom: 10px;
    color: #fff;
    font-size: 1em;
    font-weight: 600; }
  .link-wrapper img {
    margin-bottom: 5px; }

.btn-default {
  background-color: #C4B935;
  border: none; }

.gnog .h1 {
  color: #fff26c; }
.gnog .btn-default {
  border-radius: 0px;
  background-color: #ffff6b;
  color: #292929;
  border: none; }
.gnog .btn-alt {
  border-radius: 0px;
  background-color: #00f985;
  color: #292929;
  border: none; }

.gnog-text {
  background-color: #1b395f;
  color: #ffffff; }
  .gnog-text .h1 {
    color: #fff26c; }
  .gnog-text .btn-default {
    border-radius: 0px;
    background-color: #ffff6b;
    color: #292929;
    border: none; }
  .gnog-text .btn-alt {
    border-radius: 0px;
    background-color: #00f985;
    color: #292929;
    border: none; }

.gnog-game {
  background-color: #3f2046;
  background-size: cover;
  background-position: center;
  overflow: hidden; }
  @media (max-width: 768px) {
    .gnog-game {
      background-image: url("/images/log-mobile.png"); } }
  @media (min-width: 769px) {
    .gnog-game {
      background-image: url("/images/log2.png"); } }
  .gnog-game p {
    padding-left: 20px; }

.tamperdrome {
  background-color: #000;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: left;
  color: #EFEFEF;
  overflow: hidden; }
  @media (max-width: 768px) {
    .tamperdrome {
      background-color: #000000; } }
  @media (min-width: 769px) {
    .tamperdrome {
      background-image: url("/images/tamperdrome5.gif"); } }
  .tamperdrome p {
    padding-right: 20px;
    padding-left: 20px; }
  .tamperdrome .btn-default {
    background-color: #EFEFEF;
    color: black; }

.spacedog {
  background-image: url("/images/spacedog3.png");
  background-size: cover;
  background-color: #166674;
  overflow: hidden; }
  .spacedog p {
    padding-left: 20px; }
  .spacedog .btn-default {
    background-color: #1BCDF7;
    color: #3A3A3A; }

.skippingstones {
  background-image: url("/images/skippingstones3.png");
  background-position: center;
  background-size: cover;
  overflow: hidden; }
  .skippingstones p {
    padding-left: 20px;
    padding-right: 20px; }
  .skippingstones .btn-default {
    background-color: #8A5380;
    color: #FFF; }

.orchids {
  background-image: url("/images/orchids/orchids-bg3.png");
  background-size: cover;
  background-position: center;
  max-height: 600px;
  overflow: hidden; }
  .orchids .h1 {
    color: #df7e08; }
  .orchids p {
    padding-left: 20px;
    color: #396f6a; }
  .orchids .btn-default {
    background-color: #3A7D84;
    color: #FFF; }

.gardenarium-wrapper {
  background-image: url("/images/gardenarium3.png");
  background-size: cover;
  background-position: right;
  max-height: 600px;
  overflow: hidden; }
  .gardenarium-wrapper p {
    color: #7438af; }
  .gardenarium-wrapper .btn-default {
    background-color: #7438af;
    color: #FFF; }

.ranpal {
  background-image: url("/images/ranpal.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #FFF;
  max-height: 600px;
  overflow: hidden; }
  .ranpal p {
    padding-left: 40px; }
  .ranpal .text-wrapper {
    color: #000; }

.facerift {
  background-image: url("/images/facerift2.gif");
  background-size: cover;
  max-height: 600px;
  overflow: hidden; }
  .facerift .h1 {
    color: white;
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black; }
  .facerift .text-wrapper {
    background-color: black; }

.fishjn {
  background-image: url("/images/fishjn.png");
  background-size: cover;
  overflow: hidden; }
  .fishjn p {
    padding-left: 40px; }
  .fishjn .btn-default {
    background-color: #640050;
    color: #FFF; }

.kolab-banner {
  height: 100px;
  font-family: "ff-mark-web", sans-serif;
  color: white; }
  .kolab-banner .h1 {
    font-size: 4em;
    letter-spacing: 5px;
    color: #64F65C; }

.btn-default {
  border-radius: 0px; }

.kolab {
  font-family: "soleil", sans-serif;
  color: #FFF; }
  .kolab a {
    color: #FFF;
    font-weight: 800;
    text-decoration: underline; }
  .kolab .subnav a {
    margin-right: 40px; }
  .kolab .emphasis {
    font-size: 1.5em;
    font-family: "ff-mark-web", sans-serif;
    color: #F5E645; }
  .kolab .h1 {
    font-family: "ff-mark-web", sans-serif;
    font-weight: 600; }
    .kolab .h1 #kolab-header {
      font-size: 5em; }
    .kolab .h1 .footer {
      color: #61C6F6; }
  .kolab #subheader {
    font-family: "ff-mark-web", sans-serif;
    color: #fff; }
  .kolab #kolab-header {
    font-size: 4em;
    letter-spacing: 5px;
    color: #F5E645; }
  .kolab em {
    font-weight: 800; }
  .kolab .btn-primary {
    height: 36px; }
  .kolab .textfield {
    line-height: 1.8em; }

.lab-sectionbreak {
  width: 100%;
  padding-top: 2px;
  background-color: #CFCFCF;
  margin-left: auto;
  margin-right: auto; }

.workshops {
  color: #5A5A5A; }
  .workshops #header-workshops {
    font-family: "ff-mark-web", sans-serif;
    color: #552bf8;
    font-size: 4em;
    letter-spacing: 5px; }
  .workshops .lead-workshops {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    color: white; }
  .workshops #workshop-sub {
    font-family: "ff-mark-web", sans-serif; }
  .workshops .h1 {
    font-weight: 600;
    color: #5A5A5A; }
    .workshops .h1 .footer {
      color: #4BD940; }
  .workshops .h2 {
    font-size: 1.5em;
    text-decoration: underline; }
  .workshops .tutorial-links {
    background-color: white;
    background-image: url("/images/workshop-bg.png");
    background-size: cover; }
  .workshops a {
    color: #552bf8;
    text-decoration: underline; }
  .workshops a:visited {
    color: #552bf8; }
  .workshops .comingsoon {
    color: #737373; }
  .workshops .sectionbreak {
    background-color: #484848; }
  .workshops .textfield {
    line-height: 1.8em; }
  .workshops .booking {
    color: #fff; }
    .workshops .booking .h1 {
      font-family: "ff-mark-web", sans-serif;
      color: #FFF; }
    .workshops .booking a {
      color: #FFF; }

.about-wrapper {
  color: #FFF; }
  .about-wrapper a {
    color: #FFF;
    text-decoration: underline; }
  .about-wrapper .h1 {
    font-family: "ff-mark-web", sans-serif;
    letter-spacing: 2px; }

.profiles {
  font-size: .8em; }
  .profiles img {
    padding-bottom: 10px; }
  .profiles div {
    padding-bottom: 10px; }

.workforhire {
  font-size: .8em; }
  .workforhire img {
    padding-bottom: 10px; }
  .workforhire div {
    padding-bottom: 10px; }

.yellow {
  color: #E6D93E; }

.orange {
  color: #ff5d30; }

.pink {
  color: #fb27a3; }

.green {
  color: #56DC51; }

.blue {
  color: #552bf8; }

.gardenarium {
  font-family: "Soleil", sans-serif;
  color: #F500FF;
  background-color: #f2fdbe;
  font-size: 1em; }
  .gardenarium .h1 {
    font-size: 2em;
    font-weight: 800; }
  .gardenarium a {
    color: #fff;
    text-decoration: underline; }

.garden-head {
  background-image: url("/images/gardenarium/spiral18.png");
  background-size: 200px; }

.garden-info {
  background-color: #AE00B0;
  color: #EFFFB1; }

.image-gallery {
  display: inline-block; }

.pokoheader {
  background-image: url("/images/pokodome-header.png");
  background-size: cover;
  background-position: center;
  color: #3AAA31;
  font-family: "ff-mark-web", sans-serif;
  font-weight: 900; }
  .pokoheader .h1 {
    font-size: 4em;
    font-weight: 800;
    color: #56DC51; }

.pokodome {
  background-color: #fafafa; }
  .pokodome .h1 {
    font-family: "ff-mark-web", sans-serif; }

.orchids-container {
  font-weight: 500;
  background-image: url("/images/orchids/orchids-bg10.png");
  background-position: center;
  background-size: cover;
  color: #396f6a;
  font-size: .8em; }
  .orchids-container a {
    font-weight: 900;
    color: #396f6a;
    text-decoration: none; }
  .orchids-container .h1 {
    font-family: "Clavo", serif;
    color: #df7e08; }
  .orchids-container .more {
    color: #FFF; }
    .orchids-container .more a {
      color: #FFF; }
    .orchids-container .more #contact {
      padding-right: 10px; }

.lifebehindplay {
  font-size: 1.5em;
  color: black;
  background-color: white; }
  .lifebehindplay .KO_OP {
    color: black; }

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px); }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 48px;
  background-color: #fafafa; }

/*# sourceMappingURL=main.css.map */
